.container{
   margin: 0 auto;
   width : 1000px;
   	font-family: 'Montserrat', sans-serif;
}
body{
  color: white;
  background-color: #48445FFF;
}
.backgroundImg{
	background-image: url(img/simple-gray-back-colours-ball-pptbackgrounds.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.center{
   text-align: center;
}
.verticalAlignment{
	margin: 90px auto;
}
.letters{
		 left: 0;
	   position: absolute;
     display: flex;
	   width: 100px;
	   height: 100px;
	   border-radius: 50%;
	   margin: 0 18px;
	   justify-content: center;
	   align-items: center;
	   font-size: 50px;
	   cursor: pointer;
	   color: black;
	}
.row1, .row2, .row3{
	position: relative;
	display: block;
	border: 2px;
	height: 100px;
}
#lettersClicked{
	text-shadow: 3px 3px 6px #00FFFCFF;
	color: black;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	font-size: 70px;
	letter-spacing: 10px;
}
#lettersLeft{
	color: black;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
		font-size: 70px;

		letter-spacing: 10px;
}
.hide{
	display: none;
}
#startPage{
	padding-top: 150px;
	padding-bottom: 150px;
  margin: 50px;
}

#timerDisplay{
	color:white;
	width: 50px;
	height: 40px;
	position: absolute;
	border-radius: 50%;
	border:3px solid #38354AFF;
	margin-left: -10px;
	margin-top: -3px;
	background-color: #38354AFF;
	text-align: center;
	font-size: 25px;
	padding-top: 10px;
}

.healthAndTime{
	/*in line with level header and score*/
	display:inline-block;
	height: 50px;
	width: 150px;
	position: relative;
	border-top: 3px solid #38354AFF;
	border-bottom: 3px solid #38354AFF;
	border-right: 3px solid #38354AFF;
	margin-left: 30px;
	border-radius: 25px;
	background-color: #38354AFF;
}
.healthImg{
	margin:10px 0 0px 60px;
}

#levelHeader{
	display:inline-block;
	height: 40px;
	width: 200px;
	position: absolute;
	left: 550px;
  text-align: center;
	margin:0 0 0 60px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 28px;
}
#scoreDisplay{
	display:inline-block;
	height: 40px;
	width: auto;
	position: absolute;
	text-align: center;
	left: 1200px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left:10px;
	font-size: 28px;
}

#startButton {
  background-color: #D2F6FFFF;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid black;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
}

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
    /*sx, sy, sz*/
  }

  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
    /*sx, sy, sz*/
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.bounceOut {
  -webkit-animation: bounceOut 0.75s 1 linear forwards;
  animation: bounceOut 0.75s 1 linear forwards;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}